@model IEnumerable<WebApplication.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@if (TempData["ErrorDeleteCate"] != null)
{

    <div class="form-group">
        <br />
        <div class="col-md-3">
            <div class="alert alert-danger" id="success-alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong> @TempData["ErrorDeleteCate"]</strong>

            </div>

        </div>
    </div>
}
@if (TempData["EditCate"] != null)
{

<div class="form-group">
    <br />
    <div class="col-md-3">
        <div class="alert alert-success" id="success-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong> @TempData["EditCate"]</strong>

        </div>

    </div>
</div>
}
@if (TempData["Createcate"] != null)
{

<div class="form-group">
    <br />
    <div class="col-md-3">
        <div class="alert alert-success" id="success-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong> @TempData["Createcate"]</strong>

        </div>

    </div>
</div>
}
<!-- page title area start -->
<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left">Category Management</h4>
                <ul class="breadcrumbs pull-left">
                    <li><a href="/HomeAdmin">Home</a></li>
                    <li><span>Category Management</span></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 clearfix">
            <div class="user-profile pull-right">
                <img class="avatar user-thumb" src="~/Theme/assets/images/author/avatar.png" alt="avatar">
                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Welcome: @Session["Admin"]<i class="fa fa-angle-down"></i></h4>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@Url.Action("Logout","HomeAdmin")">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page title area end -->
<div class="main-content-inner">
    <div class="row mt-5 mb-5">
        <div class="col-12">
            <div class="card">
                <div class="col-12 mt-5">
                    <div class="card">

                        <a href="/MCategory/Create" class="btn btn-outline btn-primary " style="font-size:20px; width:10%">Create</a>
                        <div class="card-body">
                            <h4 class="header-title">Category Table</h4>
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-hover progress-table text-center">
                                        <thead class="text-uppercase">
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Category Name</th>
                                                <th scope="col">action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <th scope="row"> @Html.DisplayFor(modelItem => item.Category_ID)</th>
                                                    <td> @Html.DisplayFor(modelItem => item.Category_Name)</td>
                                                    <td>
                                                        <ul class="d-flex justify-content-center">
                                                            <li class="mr-3"><a href="/MCategory/Edit/@item.Category_ID" class="text-secondary"><i class="fa fa-edit"></i></a></li>
                                                            <li><a href="/MCategory/Delete/@item.Category_ID" class="text-danger"><i class="ti-trash"></i></a></li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Progress Table end -->
            </div>
        </div>
    </div>
</div>

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(2500, 0).slideUp(500, function () {
            $(this).hide();
        });
    }, 1000);
</script>