@model IEnumerable<WebApplication.Models.Order>
@{
    ViewBag.Title = "ManageOrders";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<!-- page title area start -->
<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left">Orders Management</h4>
                <ul class="breadcrumbs pull-left">
                    <li><a href="/Manager">Home</a></li>
                    <li><span>Orders Management</span></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 clearfix">
            <div class="user-profile pull-right">
                <img class="avatar user-thumb" src="~/Theme/assets/images/author/avatar.png" alt="avatar">
                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Welcome: @Session["Manager"]<i class="fa fa-angle-down"></i></h4>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@Url.Action("Logout","HomeAdmin")">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page title area end -->
<br />
<div class="main-content-inner">
    <div class="row">
        <!-- Dark table start -->
        <div class="col-12 mt-5">
            <div class="card">

                <div class="card-body">
                    <h4 class="header-title">Orders Complete Table</h4>
                    <div class="data-tables datatable-dark">
                        <table id="dataTable3" class="text-center">
                            <thead class="text-capitalize">
                                <tr>
                                    <th>ID</th>

                                    <th>
                                        Customer
                                    </th>
                                    <th>
                                        Order Date
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        @if (item.Status == "Completed")
                                        {

                                            <td> @Html.DisplayFor(modelItem => item.Order_ID)</td>
                                            <td> <a href="/Manager/CustomerDetails/@item.Customer_ID">@Html.DisplayFor(modelItem => item.Customer.Customer_Name)</a></td>
                                            <td>
                                                @item.Order_Date.ToString("dd/MM/yyyy HH:mm:ss")
                                            </td>

                                            <td style="color: green;">@item.Status</td>


                                            <td><a href="/Manager/DetailsOrders/@item.Order_ID">View</a></td>
                                        }

                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dark table end -->
    </div>
</div>